<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head th:include="layout/layout :: htmlhead(${product.name})"></head>

<body>
    <section layout:fragment="content">
        <div class="row m-t-1">
            <div class="col-md-4 col-lg-3">
                <div class="text-xs-center">
                    <div class="prod-detail-logo">
                        <img id="productLogo" src="/img/default_product_logo.jpg" alt="" height="100%" width="100%"/>
                    </div>
                </div>
                <div class="m-y-3 text-xs-center">
                    <a th:href='${"/product/downloadAllFiles?id="+product.id}' class="btn btn-success"><i class="fa fa-archive"></i>&nbsp;&nbsp;全部文件</a>&nbsp;&nbsp;
                    <a th:href='${"/product/downloadToSaleFiles?id="+product.id}' class="btn btn-info"><i class="fa fa-file-archive"></i>&nbsp;&nbsp;营销文件</a>
                </div>
                <div class="panel panel-transparent">
                    <input type="hidden" id="productId" th:value="${product.id}"/>
                    <div class="panel-heading p-x-1">
                        <span class="panel-title">基本信息</span>
                    </div>
                    <div class="panel-body p-a-1">
                        <p>
                            <label>编号：</label><span th:text="${product.copyrightCode + '-' + product.sort}"></span>
                        </p>
                        <p>
                            <label>ISBN：</label><span th:text="${product.isbn}"></span>
                        </p>
                        <p>
                            <label>题材：</label><span th:text="${product.subjectName}"></span>
                        </p>
                        <p>
                            <label>字数：</label><span th:text="${product.wordCount}"></span>万字
                        </p>
                        <p>
                            <label>入库状态：</label><span th:text="${product.stockInText}"></span>
                        </p>
                    </div>
                </div>
            </div>
            <hr class="page-wide-block visible-xs visible-sm"/>

            <div class="col-md-8 col-lg-9">
                <h1 class="font-size-20 m-y-4">
                    <span th:text="${product.name}"></span>
                    <span class="m-l-1 font-weight-normal font-size-14" th:text="${product.authorsTextInline}"></span>
                </h1>

                <ul class="nav nav-tabs" id="profile-tabs">
                    <li class="active">
                        <a href="#copyright-tab" data-toggle="tab">
                            版权信息
                        </a>
                    </li>
                    <li>
                        <a href="#make-tab" data-toggle="tab">
                            制作信息
                        </a>
                    </li>
                    <li>
                        <a href="#sale-tab" data-toggle="tab">
                            营销信息
                        </a>
                    </li>
                    <li>
                        <a href="#gallery-tab" data-toggle="tab">
                            相册
                        </a>
                    </li>
                </ul>

                <div class="tab-content tab-content-bordered p-a-0 bg-white">
                    <div class="tab-pane fade in active" id="copyright-tab">
                        <div class="col-md-9 m-t-2">
                            <p>
                                <div class="col-md-12">
                                    <label>授权种类：</label><span th:text="${productCopyright.privilegesText}"></span>
                                </div>
                            </p>
                            <p>
                                <div class="col-md-6">
                                    <label>授权方式：</label><span th:text="${productCopyright.copyrightTypeText}"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>可转授权：</label><span th:text="${productCopyright.grantText}"></span>
                                </div>
                            </p>
                            <p>
                                <div class="col-md-6">
                                    <label>是否分成：</label><span th:text="${productCopyright.settlementTypeText}"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>分成比例：</label><span th:text="${productCopyright.proportions != null ? productCopyright.proportions + ' %' : '-- %'}"></span>
                                </div>
                            </p>
                            <p>
                                <div class="col-md-6">
                                    <label>开始日期：</label><span th:text="${productCopyright.copyrightBegin}"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>结束日期：</label><span th:text="${productCopyright.copyrightEnd}"></span>
                                </div>
                            </p>
                            <p>
                                <div class="col-md-6">
                                    <label>电台交流：</label><span th:text="${productCopyright.radioTransText}"></span>
                                </div>
                            </p>
                            <p>
                                <div class="col-md-12">
                                    <label>备注信息：</label><span th:text="${productCopyright.descText}"></span>
                                </div>
                            </p>
                        </div>
                        <div class="col-md-3 m-t-2">
                            <div class="box bg-info darken">
                                <div class="box-cell p-x-3 p-y-1">
                                    <div class="font-weight-semibold font-size-12">授权费用</div>
                                    <div class="font-weight-bold font-size-20"><small class="font-weight-light">￥</small><span th:text="${productCopyright.copyrightPrice}"></span></div>
                                    <i class="box-bg-icon middle right font-size-40 fa fa-gg"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 m-t-2">
                            <div class="panel">
                                <div class="panel-heading">
                                    <span class="panel-title">合同</span>
                                </div>

                                <div id="copyrightContractFileList">

                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                    <span class="panel-title">权属证明文件</span>
                                </div>

                                <div id="rightsFileList">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 m-t-2">
                            <div class="panel">
                                <div class="panel-heading">
                                    <span class="panel-title">授权书</span>
                                </div>

                                <div id="copyrightGrantPaperFileList">

                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                    <span class="panel-title">合同-给营销</span>
                                </div>

                                <div id="contractToSaleFileList">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="make-tab">
                        <div th:each="makeContract : ${makeContracts}">
                            <div class="col-md-9 m-t-2">
                                <p>
                                <div class="col-md-12">
                                    <label>合同编码：</label>
                                    <span th:text="${makeContract.code}"></span>
                                    <span class="label label-danger" th:if="${makeContract.targetType == '0'}">劳务合同</span>
                                    <span class="label label-danger" th:if="${makeContract.targetType == '1'}">制作合同</span>
                                </div>
                                </p>
                                <p>
                                <div class="col-md-12">
                                    <label>甲方：</label><span th:text="${makeContract.owner}"></span>
                                </div>
                                </p>
                                <p>
                                <div class="col-md-12">
                                    <label>制作方：</label><span th:text="${makeContract.maker}"></span>
                                </div>
                                </p>
                                <p>
                                <div class="col-md-6">
                                    <label>集数：</label><span th:text="${makeContract.section}"></span>
                                </div>
                                </p>
                                <p>
                                <div class="col-md-6">
                                    <label>单价：</label><span th:text="${makeContract.price}"></span>
                                </div>
                                </p>
                                <p>
                                <div class="col-md-6">
                                    <label>演播人：</label><span th:text="${makeContract.worker}"></span>
                                </div>
                                </p>

                            </div>
                            <div class="col-md-12" style="border-bottom: 1px solid #e2e2e2;">
                                <div class="col-md-6 m-t-2">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">合同</span>
                                            <div class="panel-heading-controls">
                                                <button class="btn btn-xs btn-success btn-outline btn-outline-colorless" th:onclick="|MAKECONTRACTPAGE.popUploadMcFileModal(${makeContract.mcProductId}, 1);|"><i class="fa fa-plus"></i> 添加</button>
                                            </div>
                                        </div>

                                        <div th:id="|${makeContract.mcProductId}_makeContractFileList|">

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 m-t-2">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">委托制作权利声明(机构)</span>
                                            <div class="panel-heading-controls">
                                                <button class="btn btn-xs btn-success btn-outline btn-outline-colorless" th:onclick="|MAKECONTRACTPAGE.popUploadMcFileModal(${makeContract.mcProductId}, 2);|"><i class="fa fa-plus"></i> 添加</button>
                                            </div>
                                        </div>

                                        <div th:id="|${makeContract.mcProductId}_makeContractBroadcasterFileList|">

                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6 m-t-2">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">演播人权利声明</span>
                                            <div class="panel-heading-controls">
                                                <button class="btn btn-xs btn-success btn-outline btn-outline-colorless" th:onclick="|MAKECONTRACTPAGE.popUploadMcFileModal(${makeContract.mcProductId}, 3);|"><i class="fa fa-plus"></i> 添加</button>
                                            </div>
                                        </div>

                                        <div th:id="|${makeContract.mcProductId}_talentStationFileList|">

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 m-t-2">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">演播人身份证复印件</span>
                                            <div class="panel-heading-controls">
                                                <button class="btn btn-xs btn-success btn-outline btn-outline-colorless" th:onclick="|MAKECONTRACTPAGE.popUploadMcFileModal(${makeContract.mcProductId}, 4);|"><i class="fa fa-plus"></i> 添加</button>
                                            </div>
                                        </div>

                                        <div th:id="|${makeContract.mcProductId}_talentIdCardFileList|">

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 m-t-2">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">运营权利授权书</span>
                                            <div class="panel-heading-controls">
                                                <button class="btn btn-xs btn-success btn-outline btn-outline-colorless" th:onclick="|MAKECONTRACTPAGE.popUploadMcFileModal(${makeContract.mcProductId}, 5);|"><i class="fa fa-plus"></i> 添加</button>
                                            </div>
                                        </div>

                                        <div th:id="|${makeContract.mcProductId}_operationFileList|">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="sale-tab">
                        <div th:each="saleContract : ${saleContracts}">
                            <div class="col-md-9 m-t-2">
                                <p>
                                <div class="col-md-12">
                                    <label>合同编码：</label>
                                    <span th:text="${saleContract.code}"></span>
                                    <span class="label label-danger" th:if="${saleContract.type == '0'}">电台合同</span>
                                    <span class="label label-danger" th:if="${saleContract.type == '1'}">互联网合同</span>
                                </div>
                                </p>
                                <p>
                                <div class="col-md-12">
                                    <label>授权方：</label><span th:text="${saleContract.granterName}"></span>
                                </div>
                                </p>
                                <p>
                                <div class="col-md-12">
                                    <label>客户：</label><span th:text="${saleContract.customerName}"></span>
                                </div>
                                </p>
                                <p>
                                <div class="col-md-6">
                                    <label>集数：</label><span th:text="${saleContract.section}"></span>
                                </div>
                                </p>
                                <p>
                                <div class="col-md-6">
                                    <label>单价：</label><span th:text="${saleContract.price}"></span>
                                </div>
                                </p>
                            </div>
                            <div class="col-md-12" style="border-bottom: 1px solid #e2e2e2;">
                                <div class="col-md-6 m-t-2">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">合同</span>
                                            <div class="panel-heading-controls">
                                                <button class="btn btn-xs btn-success btn-outline btn-outline-colorless" th:onclick="|SALECONTRACTPAGE.popUploadSaleFileModal(${saleContract.productId}, 1);|"><i class="fa fa-plus"></i> 添加</button>
                                            </div>
                                        </div>

                                        <div th:id="|${saleContract.productId}_saleContractFileList|">

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 m-t-2">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">其他文件</span>
                                            <div class="panel-heading-controls">
                                                <button class="btn btn-xs btn-success btn-outline btn-outline-colorless" th:onclick="|SALECONTRACTPAGE.popUploadSaleFileModal(${saleContract.productId}, 2);|"><i class="fa fa-plus"></i> 添加</button>
                                            </div>
                                        </div>

                                        <div th:id="|${saleContract.productId}_otherFileList|">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="gallery-tab">
                        <div class="panel-body p-t-4">
                            <div class="clearfix">

                                <div class="m-l-2 m-b-2">
                                    <a href="#" class="btn btn-primary" onclick="PRODUCTPAGE.popUploadFileModal('prod_pic');"><i class="fa fa-plus"></i>添加图片</a>
                                </div>

                                <div id="prodPicFileList">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="product/uploadFileModal :: uploadFileModal"></div>
    </section>
</body>
<div layout:fragment="scripts">
    <script type='text/javascript' th:src="@{/js/product/mediares-page.js}"></script>
    <script type='text/javascript' th:src="@{/js/make/make-page.js}"></script>
    <script type='text/javascript' th:src="@{/js/sale/sale-page.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        var makeContracts = [[${makeContracts}]];
        for(var k in makeContracts) {
            MAKECONTRACTPAGE.loadMcProduct(makeContracts[k].mcProductId, false);
        }

        var saleContracts = [[${saleContracts}]];
        for(var m in saleContracts) {
            SALECONTRACTPAGE.loadSaleProduct(saleContracts[m].productId, true);
        }
    </script>
</div>

</html>