<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <body>
        <!-- Modal -->
        <div th:fragment="productModal" class="modal fade" id="productModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">新建作品</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="validation-form">
                            <input type="hidden" id="id"/>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-3 control-label">名称</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="名称" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAuthorName" class="col-sm-3 control-label">作者</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputAuthorName" name="inputAuthorName" placeholder="作者" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAuthorPseudonym" class="col-sm-3 control-label">作者笔名</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputAuthorPseudonym" name="inputAuthorPseudonym" placeholder="作者笔名" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputWordCount" class="col-sm-3 control-label">字数</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputWordCount" name="inputWordCount" placeholder="单位：万字" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSubject" class="col-sm-3 control-label">作品题材</label>
                                <div class="col-sm-8">
                                    <select id="inputSubject" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPublishState" class="col-sm-3 control-label">出版状态</label>
                                <div class="col-sm-8">
                                    <select id="inputPublishState" class="form-control">
                                        <option value="0">已出版</option>
                                        <option value="1">网络签约</option>
                                        <option value="2">网络未签约</option>
                                        <option value="3">未公开</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPublishYear" class="col-sm-3 control-label">出版年份</label>
                                <div class="col-sm-8">
                                    <select id="inputPublishYear" class="form-control">
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2013">2012</option>
                                        <option value="2013">2011</option>
                                        <option value="2013">2010</option>
                                        <option value="2013">2009</option>
                                        <option value="2013">2008</option>
                                        <option value="2013">2007</option>
                                        <option value="2013">2006</option>
                                        <option value="2013">2005</option>
                                        <option value="2013">2004</option>
                                        <option value="2013">2003</option>
                                        <option value="2013">2002</option>
                                        <option value="2013">2001</option>
                                        <option value="2013">2000</option>
                                        <option value="2013">1999</option>
                                        <option value="2013">1998</option>
                                        <option value="2013">1997</option>
                                        <option value="2013">1996</option>
                                        <option value="2013">1995</option>
                                        <option value="2013">1994</option>
                                        <option value="2013">1993</option>
                                        <option value="2013">1992</option>
                                        <option value="2013">1991</option>
                                        <option value="2013">1990</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFinishYear" class="col-sm-3 control-label">完结年份</label>
                                <div class="col-sm-8">
                                    <select id="inputFinishYear" class="form-control">
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2013">2012</option>
                                        <option value="2013">2011</option>
                                        <option value="2013">2010</option>
                                        <option value="2013">2009</option>
                                        <option value="2013">2008</option>
                                        <option value="2013">2007</option>
                                        <option value="2013">2006</option>
                                        <option value="2013">2005</option>
                                        <option value="2013">2004</option>
                                        <option value="2013">2003</option>
                                        <option value="2013">2002</option>
                                        <option value="2013">2001</option>
                                        <option value="2013">2000</option>
                                        <option value="2013">1999</option>
                                        <option value="2013">1998</option>
                                        <option value="2013">1997</option>
                                        <option value="2013">1996</option>
                                        <option value="2013">1995</option>
                                        <option value="2013">1994</option>
                                        <option value="2013">1993</option>
                                        <option value="2013">1992</option>
                                        <option value="2013">1991</option>
                                        <option value="2013">1990</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPress" class="col-sm-3 control-label">出版社</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputPress" name="inputPress" placeholder="出版社" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputIsbn" class="col-sm-3 control-label">ISBN</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputIsbn" name="inputIsbn" placeholder="ISBN号" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSummary" class="col-sm-3 control-label">内容简介</label>
                                <div class="col-sm-8">
                                    <textarea id="inputSummary" class="form-control" rows="4" placeholder="内容简介 ..."></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFile" class="col-sm-3 control-label">样章</label>
                                <div class="col-sm-8">
                                    <input type="file" class="form-control-file" id="inputFile" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="importCoverFile" class="col-sm-3 control-label">封面</label>
                                <div class="col-sm-8">
                                    <input type="file" class="form-control-file" id="importCoverFile" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="importCopyrightFile" class="col-sm-3 control-label">权属文件</label>
                                <div class="col-sm-8">
                                    <input type="file" class="form-control-file" id="importCopyrightFile" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">网络音频</label>
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label for="inputHasAudio">
                                            <input id="inputHasAudio" name="inputHasAudio" type="checkbox" /> 有
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="PRODUCTLIST.submitProduct('1');">保存</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>