<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="px-content">

        <div class="row m-t-1">
            <div class="col-md-4 col-lg-3">
                <div class="text-xs-center"><img src="/img/default_product_logo.jpg" alt="" class="page-profile-v1-avatar" /></div>
                <div class="m-y-3 text-xs-center">
                    <span></span><a class="btn btn-success"><i class="fa fa-check"></i>&nbsp;&nbsp;下载样章</a>
                </div>
                <div class="panel panel-transparent">
                    <div class="panel-heading p-x-1">
                        <span class="panel-title">作品简介</span>
                    </div>
                    <div class="panel-body p-a-1" th:text="${product.summary}">
                    </div>
                </div>
                <div class="panel panel-transparent">
                    <div class="panel-heading p-x-1">
                        <span class="panel-title">作品信息</span>
                    </div>
                    <div class="list-group m-y-1">
                        <p class="list-group-item p-x-1 b-a-0"><strong>作者:</strong> <span th:text="${product.authorName}"></span></p>
                        <p class="list-group-item p-x-1 b-a-0"><strong>作者笔名:</strong> <span th:text="${product.authorPseudonym}"></span></p>
                        <p class="list-group-item p-x-1 b-a-0"><strong>题材:</strong> <span th:text="${product.subjectName}"></span></p>
                        <p class="list-group-item p-x-1 b-a-0"><strong>字数:</strong> <span th:text="${product.wordCount}"></span>&nbsp;万字</p>
                        <p class="list-group-item p-x-1 b-a-0"><strong>出版状态:</strong> <span th:text="${product.publishStateText}"></span></p>
                        <p class="list-group-item p-x-1 b-a-0" th:if="${product.publishState == '0'}"><strong>出版年份:</strong> <span th:text="${product.publishYear}"></span></p>
                        <p class="list-group-item p-x-1 b-a-0" th:if="${product.publishState != '0'}"><strong>完结年份:</strong> <span th:text="${product.finishYear}"></span></p>
                        <p class="list-group-item p-x-1 b-a-0"><strong>ISBN:</strong> <span th:text="${product.isbn}"></span></p>
                    </div>
                </div>
            </div>

            <hr class="page-wide-block visible-xs visible-sm" />

            <div class="col-md-8 col-lg-9">
                <h1 class="font-size-20 m-y-4" th:text="${product.name}"></h1>

                <ul class="nav nav-tabs" id="profile-tabs">
                    <li class="active">
                        <a href="#copyrightInfo" data-toggle="tab">
                            版权信息
                        </a>
                    </li>
                    <li>
                        <a href="#makeInfo" data-toggle="tab">
                            制作信息
                        </a>
                    </li>
                    <li>
                        <a href="#settings" data-toggle="tab">
                            运营信息
                        </a>
                    </li>
                    <li>
                        <a href="#gallery" data-toggle="tab">
                            相册
                        </a>
                    </li>
                </ul>

                <div class="tab-content p-a-0 bg-white">
                    <div class="tab-pane fade in active" id="copyrightInfo">
                        <div class="panel">
                            <div class="panel-title">权属文件</div>
                            <div class="panel-body">
                                <table id="copyrightFileTbl" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>文件名</th>
                                            <th>创建时间</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cf : ${copyrightFiles}">
                                            <td th:text="${cf.name}"></td>
                                            <td th:text="${cf.createTime}"></td>
                                            <td><a th:href="${cf.fileUrl}">下载</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr class="m-y-0" />
                            <div class="panel-title">版权合同</div>
                            <div class="panel-body">
                                <table id="copyrightTbl" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>合同编号</th>
                                        <th>甲方</th>
                                        <th>乙方联系人</th>
                                        <th>创建时间</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="makeInfo">
                        <div class="panel">
                            <div class="panel-title">制作任务</div>
                            <div class="panel-body">
                                <table id="makeTaskTbl" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>制作团队</th>
                                        <th>合同编号</th>
                                        <th>单集时长</th>
                                        <th>演播形式</th>
                                        <th>制作周期</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                            <hr class="m-y-0" />
                            <div class="panel-title">制作合同</div>
                            <div class="panel-body">
                                <table id="makeContractTbl" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>合同编号</th>
                                        <th>甲方</th>
                                        <th>乙方联系人</th>
                                        <th>创建时间</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="settings">
                    </div>
                    <div class="tab-pane fade" id="gallery">
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>