<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="px-content">
    <div class="page-header p-y-4 text-xs-center">
        <h1 class="font-weight-bold">合同编号:
            <span th:text="${contract.code}"></span>
            <span class="label label-danger" th:if="${contract.targetType == '0'}">对私</span>
            <span class="label label-danger" th:if="${contract.targetType == '1'}">对公</span>
        </h1>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-title">甲方: <span th:text="${contract.owner}"></span></div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td class="text-right"><b>联系人</b></td>
                            <td><span th:text="${contract.ownerContact}"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><b>联系电话</b></td>
                            <td><span th:text="${contract.ownerContactPhone}"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><b>联系地址</b></td>
                            <td><span th:text="${contract.ownerContactAddress}"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><b>电子邮箱</b></td>
                            <td><span th:text="${contract.ownerContactEmail}"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel">
                <div class="panel-title">合同信息</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td class="text-right"><b>总集数</b></td>
                            <td><span th:text="${contract.totalSection}"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><b>单价</b></td>
                            <td><span th:text="${contract.price}"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><b>总价</b></td>
                            <td><span th:text="${contract.totalPrice}"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><b>违约金</b></td>
                            <td><span th:text="${contract.penalty}"></span>%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-title">乙方:<span th:text="${contract.worker}"></span></div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td class="text-right"><b>联系人</b></td>
                            <td><span th:text="${contract.workerContact}"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><b>联系电话</b></td>
                            <td><span th:text="${contract.workerContactPhone}"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><b>联系地址</b></td>
                            <td><span th:text="${contract.workerContactAddress}"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><b>电子邮箱</b></td>
                            <td><span th:text="${contract.workerContactEmail}"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel">
                <div class="panel-title">付款信息</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td class="text-right"><b>账户名称</b></td>
                            <td><span th:text="${contract.bankAccountName}"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><b>开户行</b></td>
                            <td><span th:text="${contract.bank}"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><b>银行账号</b></td>
                            <td><span th:text="${contract.bankAccountNo}"></span></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td><td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">
                        合同文档列表
                    </span>
                    <div class="panel-heading-controls">
                        <button class="btn btn-xs" th:onclick="'MAKELIST.popUploadContractDoc(' + ${contract.id} + ')'">上传合同</button>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr th:each="doc : ${docs}">
                            <td th:text="${doc.typeText}"></td>
                            <td th:text="${doc.version}"></td>
                            <td th:text="${doc.createTime}"></td>
                            <td><a th:href="${doc.fileUrl}">下载</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="make/docModal :: docModal"></div>

</div>
</body>
</html>