<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head th:include="layout/layout :: htmlhead(${contract.code})"></head>

<body th:onload="|MAKECONTRACTPAGE.loadMcProducts('${contract.mcProductIds}');|">
<section layout:fragment="content">
    <div class="px-content">
        <div class="page-header p-y-4 text-xs-center">
            <h1 class="font-weight-bold">合同编号:
                <span th:text="${contract.code}"></span>
                <span class="label label-danger" th:if="${contract.targetType == '0'}">对私</span>
                <span class="label label-danger" th:if="${contract.targetType == '1'}">对公</span>
            </h1>

        </div>
        <div class="row">
        <div class="panel">
            <div class="panel-title">
                基本信息
            </div>
            <div class="panel-body">
                <p>
                    <div class="col-md-3">
                        <label>甲方：</label><span th:text="${contract.owner}"></span>
                    </div>
                </p>
                <p>
                    <div class="col-md-3">
                        <label>制作方：</label><span th:text="${contract.maker}"></span>
                    </div>
                </p>
                <p>
                    <div class="col-md-3">
                        <label>集数：</label><span th:text="${contract.totalSection}"></span>
                    </div>
                </p>
                <p>
                    <div class="col-md-3">
                        <label>总价：</label><span th:text="${contract.totalPrice}"></span>
                    </div>
                </p>
            </div>

            <div class="panel-title">
                作品信息
            </div>
            <div class="panel-body" th:each="mcProduct : ${contract.mcProducts}">
                <div class="col-md-3">
                    <div class="text-xs-center"><img src="/img/default_product_logo.jpg" alt=""/>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-6 m-t-2">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">合同</span>
                                <div class="panel-heading-controls">
                                    <button class="btn btn-xs btn-success btn-outline btn-outline-colorless" th:onclick="|MAKECONTRACTPAGE.popUploadFileModal(${mcProduct.id}, 1);|"><i class="fa fa-plus"></i> 添加</button>
                                </div>
                            </div>

                            <div th:id="|${mcProduct.id}_makeContractFileList|">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 m-t-2">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">委托制作权利声明(机构)</span>
                                <div class="panel-heading-controls">
                                    <button class="btn btn-xs btn-success btn-outline btn-outline-colorless" th:onclick="|MAKECONTRACTPAGE.popUploadFileModal(${mcProduct.id}, 2);|"><i class="fa fa-plus"></i> 添加</button>
                                </div>
                            </div>

                            <div th:id="|${mcProduct.id}_makeContractBroadcasterFileList|">

                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 m-t-2">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">演播人权利声明</span>
                                <div class="panel-heading-controls">
                                    <button class="btn btn-xs btn-success btn-outline btn-outline-colorless" th:onclick="|MAKECONTRACTPAGE.popUploadFileModal(${mcProduct.id}, 3);|"><i class="fa fa-plus"></i> 添加</button>
                                </div>
                            </div>

                            <div th:id="|${mcProduct.id}_talentStationFileList|">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 m-t-2">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">演播人身份证复印件</span>
                                <div class="panel-heading-controls">
                                    <button class="btn btn-xs btn-success btn-outline btn-outline-colorless" th:onclick="|MAKECONTRACTPAGE.popUploadFileModal(${mcProduct.id}, 4);|"><i class="fa fa-plus"></i> 添加</button>
                                </div>
                            </div>

                            <div th:id="|${mcProduct.id}_talentIdCardFileList|">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 m-t-2">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">运营权利授权书</span>
                                <div class="panel-heading-controls">
                                    <button class="btn btn-xs btn-success btn-outline btn-outline-colorless" th:onclick="|MAKECONTRACTPAGE.popUploadFileModal(${mcProduct.id}, 5);|"><i class="fa fa-plus"></i> 添加</button>
                                </div>
                            </div>

                            <div th:id="|${mcProduct.id}_operationFileList|">

                            </div>
                        </div>
                    </div>
                </div>

                <hr class="panel-wide-block" />
            </div>
        </div>
    </div>
        <div th:replace="make/uploadFileModal :: uploadFileModal"></div>
    </div>
</section>
</body>
<div layout:fragment="scripts">
    <script type='text/javascript' th:src="@{/js/make/make-page.js}"></script>
</div>
</html>