<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="nav-left" class="px-nav px-nav-left">
    <button type="button" class="px-nav-toggle" data-toggle="px-nav">
        <span class="px-nav-toggle-arrow"></span>
        <span class="navbar-toggle-icon"></span>
        <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
    </button>

    <ul class="px-nav-content">
        <li class="px-nav-box p-a-3 b-b-1" id="demo-px-nav-box">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="/assets/demo/avatars/1.jpg" alt="" class="pull-xs-left m-r-2 border-round" style="width: 54px; height: 54px;" />
            <div class="font-size-16"><span class="font-weight-light">欢迎你, </span><strong th:text="${curUserName}"></strong></div>
            <div class="btn-group" style="margin-top: 4px;">
                <a href="#" class="btn btn-xs btn-primary btn-outline"><i class="fa fa-envelope"></i></a>
                <a href="#" class="btn btn-xs btn-primary btn-outline"><i class="fa fa-user"></i></a>
                <a href="#" class="btn btn-xs btn-primary btn-outline"><i class="fa fa-cog"></i></a>
                <a href="#" class="btn btn-xs btn-danger btn-outline"><i class="fa fa-power-off"></i></a>
            </div>
        </li>

        <li class="px-nav-item">
            <a href="#"><i class="px-nav-icon ion-home"></i><span class="px-nav-label">首页</span></a>
        </li>
        <li class="px-nav-item">
            <a href="/product/productPage"><i class="px-nav-icon ion-android-apps"></i><span class="px-nav-label">作品管理</span></a>
        </li>
        <li class="px-nav-item">
            <a href="/copyright/copyrightPage"><i class="px-nav-icon ion-erlenmeyer-flask"></i><span class="px-nav-label">版权管理</span></a>
        </li>
        <li class="px-nav-item">
            <a href="/mediares/mediaresPage"><i class="px-nav-icon ion-monitor"></i><span class="px-nav-label">媒资管理</span></a>
        </li>
        <li class="px-nav-item">
            <a href="/make/contractProductPage"><i class="px-nav-icon ion-android-checkbox-outline"></i><span class="px-nav-label">制作管理</span></a>
        </li>
        <li class="px-nav-item px-nav-dropdown">
            <a href="#"><i class="px-nav-icon ion-aperture"></i><span class="px-nav-label">运营管理</span></a>

            <ul class="px-nav-dropdown-menu">
                <li class="px-nav-item"><a href=""><span class="px-nav-label">作品维度</span></a></li>
                <li class="px-nav-item"><a href="/sale/contractPage"><span class="px-nav-label">合同维度</span></a></li>
                <li class="px-nav-item"><a href=""><span class="px-nav-label">统计分析</span></a></li>
            </ul>
        </li>
        <li class="px-nav-item px-nav-dropdown">
            <a href="#"><i class="px-nav-icon ion-stats-bars"></i><span class="px-nav-label">系统管理</span></a>

            <ul class="px-nav-dropdown-menu">
                <li class="px-nav-item"><a href="/system/subjectPage"><span class="px-nav-label">作品题材管理</span></a></li>
                <li class="px-nav-item"><a href="/system/authorPage"><span class="px-nav-label">作者管理</span></a></li>
                <li class="px-nav-item"><a href="/system/granterPage"><span class="px-nav-label">授权方管理</span></a></li>
                <li class="px-nav-item"><a href="/system/granteePage"><span class="px-nav-label">签约主体管理</span></a></li>
                <li class="px-nav-item"><a href="/system/announcerPage"><span class="px-nav-label">演播人管理</span></a></li>
                <li class="px-nav-item"><a href="/system/makerPage"><span class="px-nav-label">制作方管理</span></a></li>
                <li class="px-nav-item"><a href="/userIndexPage"><span class="px-nav-label">用户管理</span></a></li>
                <li class="px-nav-item"><a href="/mailSettingPage"><span class="px-nav-label">邮件服务设置</span></a></li>
            </ul>
        </li>
    </ul>
</nav>

</body>
</html>