<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
    <head th:include="layout/layout :: htmlhead('作品题材管理')"></head>

    <body>
        <section layout:fragment="content">
            <div class="page-header">
                <h1>作品题材管理 / <span class="text-muted font-weight-light">作品题材主要指“玄幻”、“都市言情”等</span></h1>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">作品题材列表</div>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="searchKey">题材名称</label>
                            <input id="searchKey" type="text" class="form-control" placeholder="题材名称" />
                        </div>
                        <button class="btn btn-primary" onclick="SUBJECTLIST.searchSubjects();">搜索</button>
                    </div>
                    <hr class="panel-wide-block" />
                    <div class="box">
                        <button type="button" class="btn" data-toggle="modal" onclick="SUBJECTLIST.popNewSubjectModal();">
                            <i class="fa fa-plus"></i>&nbsp;新建
                        </button>
                        <button type="button" class="btn" onclick="SUBJECTLIST.batchDeleteSubjects();"><i class="fa fa-remove"></i>&nbsp;删除</button>
                    </div>

                    <table class="table table-striped table-bordered" id="subjectTbl">
                        <thead>
                        <tr>
                            <th>
                                <label class="custom-control custom-checkbox custom-control-blank" for="subjectTblCheckAllBtn">
                                    <input type="checkbox" id="subjectTblCheckAllBtn" class="custom-control-input" onclick="SUBJECTLIST.checkAllRows(this);"/>
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </th>
                            <th>名称</th>
                            <th>描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div th:replace="subject/subjectModal :: subjectModal"></div>


        </section>

    </body>
    <div layout:fragment="scripts">
        <script type='text/javascript' th:src="@{/js/subject/subject-list.js}"></script>
    </div>

</html>