<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head th:include="layout/layout :: htmlhead('用户管理')"></head>
<body>
    <div class="px-content" layout:fragment="content">
        <div class="page-header">
            <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-keypad"></i>系统管理 / </span>用户管理</h1>
        </div>

        <div class="form-inline">
            <div class="form-group">
                <label for="searchKey">关键字</label>
                <input id="searchKey" type="text" class="form-control" placeholder="用户名、姓名、邮箱、手机" />
            </div>
            <div class="form-group">
                <label for="searchStatus">状态</label>
                <select id="searchStatus" type="text" class="form-control">
                    <option value="-1">全部</option>
                    <option value="1">正常</option>
                    <option value="0">已禁用</option>
                </select>
            </div>
            <button class="btn btn-primary" onclick="USERLIST.searchUser();">搜索</button>
        </div>
        <hr class="panel-wide-block" />
        <div class="box">
            <button type="button" class="btn" onclick="USERLIST.popAddUserModal();">
                <i class="fa fa-plus"></i>&nbsp;新建
            </button>
            <button type="button" class="btn" onclick="USERLIST.batchDeleteUser()"><i class="fa fa-remove"></i>&nbsp;删除</button>
        </div>

        <div class="table">
            <table id="userTbl" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="text-center">
                        <label class="custom-control custom-checkbox custom-control-blank" for="userTblCheckAllBtn">
                            <input type="checkbox" id="userTblCheckAllBtn" class="custom-control-input" onclick="USERLIST.checkAllRows(this);"/>
                            <span class="custom-control-indicator"></span>
                        </label>
                    </th>
                    <th>用户名</th>
                    <th>姓名</th>
                    <th>邮箱</th>
                    <th>电话</th>
                    <th>敬称</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div id="userInfoModal" class="modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">用户信息</h4>
                    </div>
                    <div class="modal-body">
                        <form id="userInfoForm" class="form-horizontal">
                            <input type="hidden" id="inputId"/>
                            <div class="form-group">
                                <label for="inputAccount" class="col-md-3 control-label required">用户名</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="inputAccount" placeholder="用于登录的用户名"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-md-3 control-label required">姓名</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="inputName" placeholder="真实姓名"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label id="inputPasswordLabel" for="inputPassword" class="col-md-3 control-label">密码</label>
                                <div class="col-md-7">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="密码"/>
                                    <small class="text-muted">请不要使用太简单的密码.</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-md-3 control-label required">邮箱</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="电子邮件地址"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputMobile" class="col-md-3 control-label">手机</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="inputMobile" placeholder="常用联系手机"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">性别</label>
                                <div class="col-md-7">
                                    <label class="custom-control custom-radio radio-inline" for="inputGenderMale">
                                        <input type="radio" id="inputGenderMale" name="inputGender" class="custom-control-input" checked="true"/>
                                        <span class="custom-control-indicator"></span>
                                        男
                                    </label>
                                    <label class="custom-control custom-radio radio-inline" for="inputGenderFemale">
                                        <input type="radio" id="inputGenderFemale" name="inputGender" class="custom-control-input"/>
                                        <span class="custom-control-indicator"></span>
                                        女
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputHonorific">敬称</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="inputHonorific" placeholder="如 张老师、刘老师"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="USERLIST.submitUserInfo();">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript'>
    </script>

    <div layout:fragment="scripts">
        <script type='text/javascript' th:src="@{/js/user/user-list.js}"></script>
    </div>
</body>
</html>