<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Modal -->
<div th:fragment="contractModal" class="modal fade" id="contractModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">新建营销合同</h4>
            </div>
            <div class="modal-body">
                <div id="saleContractWizard" class="wizard panel-wizard">
                    <div class="wizard-wrapper">
                        <ul class="wizard-steps">
                            <li data-target="#wizard-basic" class="active">
                                <span class="wizard-step-number">1</span>
                                <span class="wizard-step-complete"><i class="fa fa-check"></i></span>
                                <span class="wizard-step-caption">基本信息
                                    <span class="wizard-step-description">合同相关的信息</span>
                                </span>
                            </li>
                            <li data-target="#wizard-rights" class="active">
                                <span class="wizard-step-number">2</span>
                                <span class="wizard-step-complete"><i class="fa fa-check"></i></span>
                                <span class="wizard-step-caption">授权信息
                                    <span class="wizard-step-description">合同的授权信息</span>
                                </span>
                            </li>
                            <li data-target="#wizard-product">
                                <span class="wizard-step-number">3</span>
                                <span class="wizard-step-complete"><i class="fa fa-check"></i></span>
                                <span class="wizard-step-caption">作品信息
                                    <span class="wizard-step-description">合同内的作品信息</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="wizard-content">
                        <form class="wizard-pane active form-horizontal" id="wizard-basic">
                            <input type="hidden" id="inputId"/>
                            <div class="form-group">
                                <label for="inputTargetType" class="col-sm-3 control-label">合同类型</label>
                                <div class="col-sm-8">
                                    <select id="inputTargetType" class="form-control">
                                        <option value="0">电台合同</option>
                                        <option value="1">互联网合同</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSignDate" class="col-sm-3 control-label">签约日期</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputSignDate"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCode" class="col-sm-3 control-label">合同号</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputCode" placeholder="合同号，例如：2018-xd-001" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputGranterId" class="col-sm-3 control-label">授权方(甲方)</label>
                                <div class="col-sm-8">
                                    <select id="inputGranterId" name="inputGranterId" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCustomerId" class="col-sm-3 control-label">被授权方(客户)</label>
                                <div class="col-sm-8">
                                    <select id="inputCustomerId" name="inputCustomerId" class="form-control"></select>
                                    <small><a href="javascript:void(0);" onclick="SALELIST.showAddCustomerPanel();">没有？新建客户</a></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPlatformId" class="col-sm-3 control-label">平台</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="inputPlatformId" name="inputPlatformId" multiple="multiple">

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputOperator" class="col-sm-3 control-label">经手人</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="inputOperator" name="inputOperator">

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="panel-wide-block p-x-3 p-t-3 b-t-1 bg-white text-xs-right">
                                    <button type="button" class="btn btn-default" data-wizard-action="next">下一步</button>
                                </div>
                            </div>
                        </form>
                        <form class="wizard-pane active form-horizontal" id="wizard-rights">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">授权种类</label>
                                <div class="col-sm-8">
                                    <label class="custom-control custom-checkbox checkbox-inline">
                                        <input id="inputPrivilege0" type="checkbox" class="custom-control-input" checked="true"/>
                                        <span class="custom-control-indicator"></span>
                                        广播权
                                    </label>
                                    <label class="custom-control custom-checkbox checkbox-inline">
                                        <input id="inputPrivilege1" type="checkbox" class="custom-control-input"/>
                                        <span class="custom-control-indicator"></span>
                                        信息网络传播权
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputBegin" class="col-sm-3 control-label">开始日期</label>
                                <div class="col-sm-8">
                                    <input id="inputBegin" class="form-control" type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEnd" class="col-sm-3 control-label">结束日期</label>
                                <div class="col-sm-8">
                                    <input id="inputEnd" class="form-control" type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTotalSection" class="col-sm-3 control-label">总集数</label>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inputTotalSection" name="inputTotalSection" placeholder="总集数"/>
                                        <span class="input-group-addon">集</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTotalPrice" class="col-sm-3 control-label">总价</label>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inputTotalPrice" placeholder="总价" />
                                        <span class="input-group-addon">元</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputProjectCode" class="col-sm-3 control-label">项目号</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputProjectCode" placeholder="项目号" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="panel-wide-block p-x-3 p-t-3 b-t-1 bg-white text-xs-right">
                                    <button type="button" class="btn btn-default" data-wizard-action="prev">上一步</button>
                                    <button type="button" class="btn btn-default" data-wizard-action="next">下一步</button>
                                </div>
                            </div>
                        </form>
                        <form class="wizard-pane" id="wizard-product">
                            <div class="form-group">
                                <label for="product-list-select" class="col-sm-3 control-label">选择作品</label>
                                <select id="product-list-select" class="form-control" style="width: 100%" multiple="multiple">

                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="list-group" id="product-list-selected">

                            </div>
                            <div class="col-sm-12">
                                <div class="panel-wide-block p-x-3 p-t-3 b-t-1 bg-white text-xs-right">
                                    <button type="button" class="btn btn-default" data-wizard-action="prev">上一步</button>
                                    <button type="button" class="btn btn-primary" data-wizard-action="finish" onclick="SALELIST.submitSaleContract();">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="addCustomerPanel" style="display: none;">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputAddCustomerName" class="col-sm-3 control-label">名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputAddCustomerName" name="inputAddCustomerName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddCustomerContact" class="col-sm-3 control-label">联系人</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputAddCustomerContact" name="inputAddCustomerContact" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddCustomerPhone" class="col-sm-3 control-label">联系电话</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputAddCustomerPhone" name="inputAddCustomerPhone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddCustomerDesc" class="col-sm-3 control-label">备注</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" name="inputAddCustomerDesc" id="inputAddCustomerDesc"></textarea>
                            </div>
                        </div>
                        <div class="form-btnbar col-sm-12">
                            <a href="#" onclick="SALELIST.hideAddCustomerPanel();">&lt;&lt;&nbsp;返回</a>
                            <button type="button" class="btn btn-primary pull-right" onclick="SALELIST.addCustomer();">确定</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div id="addPlatformPanel" style="display: none;">
                    <form class="form-horizontal">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputAddPlatformName" class="col-sm-4 control-label">名称</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputAddPlatformName" name="inputAddPlatformName"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="inputAddPlatformDesc" class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="inputAddPlatformDesc" id="inputAddPlatformDesc"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-btnbar col-sm-12">
                            <a href="#" onclick="SALELIST.hideAddPlatformPanel();">&lt;&lt;&nbsp;返回</a>
                            <button type="button" class="btn btn-primary pull-right" onclick="SALELIST.addPlatform();">确定</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>