<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Modal -->
<div th:fragment="uploadSaleFileModal" class="modal fade" id="uploadSaleFileModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dicsmiss="modal">×</button>
                <h4 class="modal-title">上传营销合同文件</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="uploadSaleFileType" value=""/>
                <input type="hidden" id="uploadFileSaleProductId"/>
                <input type="hidden" id="saleFileMetas"/>
                <form action="/upload" id="saledropzonejs" class="dropzone-box">
                    <div class="dz-default dz-message">
                        <div class="dz-upload-icon"></div>
                        将文件拖到这里<br/>
                        <span class="dz-text-small">或 点击选择文件</span>
                    </div>
                    <div class="fallback">
                        <input name="file" type="file" multiple="multiple"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="SALECONTRACTPAGE.submitSaleProductFiles();">保存</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>