<div class="list-group-item">
    <div class="product-list-item-info">
        <h4 class="list-group-item-heading">{{name}}<small>{{author}}（{{authorPseudonym}}）</small></h4>
        <p class="list-group-item-text">{{wordCount}}万字<span class="m-l-1">·</span>{{isbn}}<span class="m-l-1">·</span>{{subjectText}}</p>
    </div>
    <div class="product-list-item-toolbar">
        <a href="#" class="product-list-item-toolbar-btn bg-info m-r-1" onclick="COPYRIGHTLIST.removeProduct(this);"><i class="fa fa-edit"></i></a>
        <a href="#" class="product-list-item-toolbar-btn bg-danger" onclick="COPYRIGHTLIST.removeProduct(this);"><i class="fa fa-remove"></i></a>
    </div>
</div>