<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head th:include="layout/layout :: htmlhead('邮件服务设置')"></head>
<body>
<div class="px-content" layout:fragment="content">
    <div class="page-header">
        <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-keypad"></i>系统管理 / </span>邮件服务设置</h1>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">邮件服务信息</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputHostName" class="col-md-3 control-label required">服务器地址</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="inputHostName" th:value="${hostName}" placeholder="SMTP服务器地址"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPort" class="col-md-3 control-label required">服务器端口</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="inputPort" th:value="${port}" placeholder="SMTP服务器端口"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFromEmail" class="col-md-3 control-label required">发件人邮箱</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="inputFromEmail" th:value="${fromEmail}" placeholder="邮件将从这个邮箱发送出去"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFromName" class="col-md-3 control-label required">发件人名称</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="inputFromName" th:value="${fromName}" placeholder="收件方显示的发件人名称"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUserName" class="col-md-3 control-label required">邮箱用户名</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="inputUserName" th:value="${userName}" placeholder="登录邮件服务器的用户名"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-md-3 control-label required">密码</label>
                    <div class="col-md-7">
                        <input type="password" class="form-control" id="inputPassword" th:value="${password}" placeholder="发件人密码"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">是否使用SSL</label>
                    <div class="col-md-7">
                        <label class="custom-control custom-radio radio-inline" for="inputSslYes">
                            <input type="radio" id="inputSslYes" name="inputSsl" class="custom-control-input" th:checked="${ssl == '1'}"/>
                            <span class="custom-control-indicator"></span>
                            是
                        </label>
                        <label class="custom-control custom-radio radio-inline" for="inputSslNo">
                            <input type="radio" id="inputSslNo" name="inputSsl" class="custom-control-input" th:checked="${ssl == '0' || ssl == null}"/>
                            <span class="custom-control-indicator"></span>
                            否
                        </label>
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-7">
                        <button type="button" class="btn btn-default btn-spacer-r" onclick="MAILSETTING.popTestEmailModal();">测试连接</button>
                        <button type="button" class="btn btn-primary" onclick="MAILSETTING.saveMailSetting();">保存</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="testEmailModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">发送测试邮件</h4>
                    </div>
                    <div class="modal-body">
                        <form id="testEmailForm" class="form-horizontal">
                            <input type="hidden" id="inputId"/>
                            <div class="form-group">
                                <label for="inputTestEmail" class="col-md-3 control-label required">收件人</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="inputTestEmail" placeholder="用于接收测试邮件的邮箱"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="MAILSETTING.sendTestEmail();">发送</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="scripts">
    <script type='text/javascript' th:src="@{/js/mail/mail-setting.js}"></script>
</div>
</body>
</html>