{% for file in files %}
<div class="file-list-item">
    <div class="file-list-title text-default">{{file.name}}</div>
    <div class="file-list-description">{{file.desc}}</div>
    <div class="file-list-time">{{file.createTimeText}}</div>
    <a class="file-list-icon file-list-icon-1 fa fa-download bg-success" target="_blank" href="/copyright/downloadCopyrightFile?id={{file.id}}"></a>
    {% if editable == true %}
    <div class="file-list-icon file-list-icon-2 fa fa-remove bg-danger" onclick="PRODUCTPAGE.deleteCopyrightFile('{{file.id}}', '{{file.name}}', 'cpr_contract');"></div>
    {% endif %}
</div>
{% endfor %}
